<!-- hostelapp/templates/hostelapp/edit_hostel.html -->

{% extends "base.html" %}


{% block title %}

<title>Hostel Management System | Edit Hostels</title>


{% endblock  %}


{% block content %}
    <div class="container mt-4">
        <h1>Edit Hostel: {{ hostel.name }}</h1>

        <form method="post" action="{% url 'edit_hostel' hostel.id %}">
            {% csrf_token %}
            <label for="id_name">Hostel Name:</label>
            <input type="text" name="name" id="id_name" class="form-control" value="{{ hostel.name }}" required>

            <label for="id_branch">Branch:</label>
            <input type="text" name="branch" id="id_branch" class="form-control" value="{{ hostel.branch }}" required>

            <label for="id_organisation">Organisation:</label>
            <input type="text" name="organisation" id="id_organisation" class="form-control" value="{{ hostel.organisation }}" required>

            

            <button type="submit" class="btn btn-primary mt-2">Save Changes</button>
            <a href="{% url 'hostel_page' %}" class="btn btn-secondary mt-2">Cancel</a>
        </form>
    </div>
{% endblock %}
